# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/

# Packages
*.egg
*.egg-info/
dist/
build/

# PyInstaller
*.manifest
*.spec

# Virtualenv
.venv/

# IDEs
.vscode/
.idea/

# OS files
Thumbs.db
Desktop.ini

# Logs
*.log
